<!DOCTYPE html>
<html>

<head>
<title>Gestión de Tareas</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="panel-container">

<h1>Gestión de Tareas</h1>

<div class="panel-menu">

<a href="/panel" class="panel-btn">Usuarios</a>

<a href="/admin/tareas" class="panel-btn">Tareas</a>

<a href="/logout" class="panel-btn logout">Cerrar sesión</a>

</div>

<h2>Lista de tareas</h2>

<table>

<tr>
<th>ID</th>
<th>Nombre</th>
<th>Descripción</th>
<th>Estado</th>
</tr>

{% for tarea in tareas %}

<tr>
<td>{{ tarea.id_tarea }}</td>
<td>{{ tarea.nombre }}</td>
<td>{{ tarea.descripcion }}</td>
<td>{{ tarea.estado }}</td>
</tr>

{% endfor %}

</table>

</div>

</body>
</html>