<!DOCTYPE html>
<html>

<head>
<title>Gestión de Tareas</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="panel-container">

<h1>Gestión de Tareas</h1>

<div class="panel-menu">

<a href="/panel" class="panel-btn">Usuarios</a>

<a href="/admin/tareas" class="panel-btn">Tareas</a>

<a href="/logout" class="panel-btn logout">Cerrar sesión</a>

</div>

<!-- BOTONES DE ACCIÓN -->
<div class="tareas-botones">

<a href="/admin/crear_tarea" class="panel-btn">
+ Tarea individual
</a>

<a href="/admin/crear_tarea_grupal" class="panel-btn">
+ Tarea grupal
</a>

</div>

<h2>Lista de tareas</h2>

<div class="stats-container">

<div class="stat-box">
<p>Pendientes</p>
<h2>{{ pendientes }}</h2>
</div>

<div class="stat-box">
<p>En proceso</p>
<h2>{{ en_proceso }}</h2>
</div>

<div class="stat-box">
<p>Finalizadas</p>
<h2>{{ finalizadas }}</h2>
</div>

</div>

<table>

<tr>
<th>ID</th>
<th>Nombre</th>
<th>Descripción</th>
<th>Estado</th>
<th>Trabajador</th>
</tr>

{% for tarea in tareas %}

<tr>
<td>{{ tarea.id_tarea }}</td>
<td>{{ tarea.nombre }}</td>
<td>{{ tarea.descripcion }}</td>

<td class="estado-{{ tarea.estado }}">
{{ tarea.estado }}
</td>

<td>
{{ tarea.trabajadores }}
</td>

</tr>

{% endfor %}

</table>

</div>

</body>
<div class="idioma-switch">
    <a href="/cambiar_idioma/es">ES</a> | 
    <a href="/cambiar_idioma/en">EN</a>
</div>
</html>