<!DOCTYPE html>
<html>

<head>
<title>{{ textos().crear_tarea }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

{% set t = textos() %}

<!-- BOTÓN IDIOMA -->
<div class="idioma-switch">
    <a href="/cambiar_idioma/es">ES</a> | 
    <a href="/cambiar_idioma/en">EN</a>
</div>

<div class="panel-container">

<h1>{{ t.crear_tarea }}</h1>

<form method="POST">

<!-- BLOQUE INFO -->
<div class="form-section">

<h2>{{ t.informacion_tarea }}</h2>

<input type="text" name="nombre" placeholder="{{ t.nombre_tarea }}" required>

<textarea name="descripcion" placeholder="{{ t.descripcion }}" required></textarea>

</div>

<!-- BLOQUE ASIGNACIÓN -->
<div class="form-section">

<h2>{{ t.asignacion }}</h2>

<select name="usuario" required>
<option value="">{{ t.seleccionar_trabajador }}</option>

{% for usuario in usuarios %}
<option value="{{ usuario.id_usuario }}">
{{ usuario.nombre }}
</option>
{% endfor %}

</select>

</div>

<button type="submit">{{ t.crear_tarea }}</button>

</form>

<br>

<a href="/admin/tareas" class="panel-btn">{{ t.volver }}</a>

</div>

</body>
</html>