<!DOCTYPE html>
<html lang="{{ session.get('idioma', 'es') }}">

<head>
<title>{{ textos().panel_admin }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

{% set t = textos() %}

<!-- BOTÓN IDIOMA -->
<div class="idioma-switch">
    <a href="/cambiar_idioma/es">ES</a> | 
    <a href="/cambiar_idioma/en">EN</a>
</div>

<div class="panel-container">

<h1>{{ t.bienvenido }}, {{ nombre }}</h1>

<div class="panel-menu">

<a href="/panel" class="panel-btn">{{ t.usuarios }}</a>

<a href="/admin/tareas" class="panel-btn">{{ t.tareas }}</a>

<a href="/logout" class="panel-btn logout">{{ t.cerrar_sesion }}</a>

</div>

<h2>{{ t.lista_trabajadores }}</h2>

<table>

<tr>
<th>ID</th>
<th>{{ t.nombre }}</th>
<th>{{ t.email }}</th>
<th>{{ t.rol }}</th>
</tr>

{% for usuario in usuarios %}

<tr>
<td>{{ usuario.id_usuario }}</td>
<td>{{ usuario.nombre }}</td>
<td>{{ usuario.email }}</td>
<td>{{ usuario.rol }}</td>
</tr>

{% endfor %}

</table>

</div>

</body>
</html>